<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @myb_sup_evl_quest_type.Type %>
</p>

<%= link_to 'Edit', edit_myb_sup_evl_quest_type_path(@myb_sup_evl_quest_type) %> |
<%= link_to 'Back', myb_sup_evl_quest_types_path %>
